* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  overflow-y: auto; /* Enable vertical scrolling */
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 20px 0; /* Add margin to prevent the container from touching the edges */
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

/* Style for the list items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

/* Style for labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for text inputs, date inputs, and number inputs */
input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for radio buttons */
input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"] + label {
  display: inline-block;
  margin-right: 20px;
}

/* Style for the file input */
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Style for the submit button */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
